html {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png);
    width: 100%;
}

ul {
    list-style-type: none;
    margin: -10px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

h1 {
    position: absolute;
    padding: 14px;
    margin: 1px;
    background: rgb(214, 214, 214);
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(214, 214, 214);
    color: black;
}

section{
    width: 690px;
    margin: 0 auto;
    border: 3px solid #4e4e4e;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: rgb(255, 245, 245);
}
img {
    float: left;
    height: 200px;
}