html {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/wild_flowers.png");
    width: 100%;
    align-content: center;
}

body{
    width: 960px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: -10px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

h1 {
    position: absolute;
    padding: 14px;
    margin: 1px;
    background: rgb(214, 214, 214);
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(214, 214, 214);
    color: black;
}

div{
    display: flex;
}

section{
    font-size: 22px;
    width: 650px;
    margin-right: auto;
    border: 5px solid #4e4e4e;
    flex-wrap: wrap;
    align-content: center;
    background: rgba(255, 255, 255, 0.432);
}

h2{
    text-align: center;
}

img {
    margin: 15px;
    float: left;
    height: 200px;
}

p {
    margin: 10px;
}

aside{
    width: 270px;
    border: 3px solid #4e4e4e;
    display: flex;
    margin-left: auto;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    background: rgb(255, 245, 245);
}